/* Body styling */
body {
   margin: 0;
   padding: 0;
   background-color: white;
   display: flex;
   flex-direction: column;
   
}

/* Main container styling */
.container {
   display: 1;
   flex-direction: row;
}

/* Content area styling */
.main {
   flex-grow: 1;
   padding: 20px;
}

/* Ensure the parent container has relative positioning */
.content {
   position: relative; /* Ensure child elements can be absolutely positioned */
   padding-bottom: 100px; /* Add space for the button at the bottom */
}




